# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtualenv
venv/
.env

# Models
models/*.h5
models/*.pkl

# OS-specific
.DS_Store

# IDEs
.vscode/
.idea/

# Tests / Reports
htmlcov/
*.log

# Docker
*.tar
*.bak
*.swp
